*{
    font-family: 'Raleway', sans-serif;
  }
  
  body {
      padding: 0;
      margin: 0;
  }
  
  /* COMIENZA EDICIÓN DE LA PÁGINA PRINCIPAL */
  .portada {
      background-color: #635857; 
      height: 100vh;
      background-size: cover;
      }
  
  .buscador{
      display: flex;
      justify-content: end;
  }
  
  ul.navegador {
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: none;
      flex-direction: column;
  }
  
      
      ul.navegador.show {
          display: flex;
      }
  
  ul.navegador li {
      list-style: none;
      margin: 0px 0px;
      padding: 10px 20px;
      font-size: small;
  
      
  }
  
  ul.navegador li a {
      text-decoration: none;
      color: white;
     
  }
  
  ul.navegador li:hover {
      background-color: gray;
  }
  
  
  /* version movible
  
  
  .logo{
      display: flex;
      flex-direction: column;
      margin-top: 3%;
  }
  .stock {
      margin-top: 30px;
      background-color: #777070;
      
  }
  
  .logo img{
      width: 230px;
      margin-left: 20%;
  
    }
  
  TAMBIEN HAY QUE OCULTAR EL FOOTER (SOLO EL QUE TIENE LA CLASE FOOTER. */
  
  
  .logo {
      width: 100%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      text-align: center;
    }
  
  .logo img{
      width: 230px;
  
    }
  
  
  .stock {
      top: 0px;
      background-color: #777070;
      
  }
  
  
  .menu {
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
  }
  
  .menu li {
      padding: 10px;
      list-style: none;
      margin-right: 15px;
      font-size: smaller;
  }
  
  .menu a {
      text-decoration: none;
      color: aliceblue;
  }
  
  .boton{
      display: none;
      justify-content: center;
  
  }
  
  .boton a {
  font-size: 14px;
  background: #423633;
  padding: 15px 40px 15px 40px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  }
  
  
  footer {
      position: fixed;
      bottom: 0;
      left:0%;
      width: 100%;
      background-color: #635857;
      padding: 10px;
      justify-content: center;
      
  }
  
  footer li {
      list-style: none;
      margin-right: 25px;
      color: white;
      width: 10px;
  }
  
  .iconos {
      margin-top: 90px;
      display: flex;
      justify-content: center;
  }
  
  li i{
      color: antiquewhite;
  }
  
  @media only screen and (min-width: 660px){
  
      .portada {
          background: url("../img/fondogral.png");
          height: 100vh;
          background-size: cover;
      }
      .btn_menu {
          display: none;
       }
  
      .menu{
          margin-top: 0%;
      }
      ul.navegador {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          position: relative;
          z-index: 0;
          
      }
      .logo img{
          margin-top: 5%;
          width: 130px;
  
      }
  
      footer {
          position: static;
          bottom: auto;
          left: auto;
          width: auto;
          background-color: transparent;
          padding: 0;
        }
  
        footer li {
          list-style: none;
          margin-right: 25px;
          color: white;
          width: 10px;
      }
      
      .iconos {
          margin-top: 37%;
          display: flex;
          justify-content: end;
      }
      
      li i{
          color: antiquewhite;
      }
      .stock {
          display: none;
        }
        
      .boton {
          display: block;
      }
  
  
     
      
     
  }
  
  
  